/******************************************************/
/******************* Busquedas* **********************/
/*****************************************************/

.form-search {
  display: flex;
  justify-content: start;
  align-items: center;
  white-space: nowrap;
}

.input-search {
  display: flex;
  justify-content: start;
  align-items: center;
  /* padding: 0 20px 0 0px; */
  white-space: nowrap;
}

.campo-search {
  width: 50%;
}

.filter-search {
  height: 35px;
  /* margin-right: 10px; */
  border-radius: 5px;
  border: 1px solid #E0E1DD;
  width: 70%;
}

.filter-search:focus {
  border: 1px solid #415A77;
  box-shadow: 1px 1px 1px 1.5px #778DA9;
  /* margin-right: 10px; */
  outline: none;
  border-radius: 5px;
}

.text-search {
  width: 100%;
  height: 30px;
  outline: none;
  /* position: absolute; */
}

.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 10px; */
  background-color: #778DA9;
  border: 0px solid #1B263B;
  border-radius: 0 6px 6px 0;
  color: #E0E1DD;
  height: 30px;
  width: 8%;
  /* position: relative; */
  /* left: 565px; */
}
.button-search:hover {
  background-color: #415A77;
  color: #E0E1DD;
}

@media (max-width: 930px) {
  .filter-search {
    width: 60px;
  }
  .text-search {
    width: 100%;
  }
  .button-search {
    width: 15%;
  }
}

@media (max-width: 600px) {
  .button-search {
    width: 25%;
  }
}
