.menu{
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.menuItem{
  text-decoration: none;
  display: flex;
}

.menuItemTitle{
  cursor: pointer;
  background-color: #1B263B;
  padding: 20px;
}

.submenu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.submenuItem{
  
  padding: 5px 20px;
  cursor: pointer;
  background-color: #415A77;
}

.submenuItem:hover {
  background-color: #778DA9;
}  
