* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  padding: 0;
}
h1 {
  font-size: 2.8em;
  text-align: center;
}
h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.7em;
  font-weight: bold;
  color: #1B263B;
}
h3 {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: #1B263B;
}
body {
  background-color: #E0E1DD;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

label {
  font-weight: 700;
  font-style: italic;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  color: #E0E1DD;
  height: 180px;
  width: 100%;

  background: url(../src/assets/title2.jpg); 
}
main{
  width: 100%;
}
nav{
 
  align-self: center;
  font-size: larger;
  /*display: flex;*/
  justify-content:center;
  flex-direction: row;
  width: 100%;
}
nav div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: center;
  background-color: #1B263B;
  height: auto;
  
}
nav div :hover{
  color: #E0E1DD;
}
nav a{
  display: flex;
  padding-top: 5px;
  text-decoration: none;
  color: #E0E1DD;
  width: 100%;
}

section{
  width: 100%;
  display: flex;
}
.container .mt-4 h2{
  display: flex;
  justify-content: center;
  width: 100%;
}

.marco {
  display: flex;
  justify-content: center;
  align-items: center; 
}

/*
.temario {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 50px;
}

.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 50%;
}*/

.grupBtn {
  padding: 50px 20%;
}
.btnApp {
  color:#E0E1DD;
  margin: 5px;
  padding: 8px 20px;
  border: 1px solid #1B263B;
  outline: none;
  background-color: #1B263B;
  font-size: 1.2em;
  width: 100%;
  cursor: pointer;
  border-radius: 7px;
}

.btnApp:hover {
  background-color: #E0E1DD;
  color: #1B263B;
}
/* paginacion */
.addBtn {
  background-color: #415A77;
  color: #E0E1DD;
  padding: 3px 5px;
  border: 0;
  margin-left: 20%;
}
.addBtn:hover {
  background-color: #415A77;
}
.btnEdid {
  background-color: transparent;
  color: #1B263B;
  padding: 1px 1px;
  border: 0.4px solid #E0E1DD;;
}
.btnShow {
  /* background-color: transparent;
  color: black;
  border: 0.4px  solid cornsilk; */
  width: 30px;
  cursor: pointer;
}
.btnDel {
  background-color: transparent;
  color: #1B263B;
  padding: 1px 1px;
  border: 0.4px solid #E0E1DD;;
}
/* paginacion */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageSice {
  display: flex;
  justify-content: start;
  align-items: center;
}

.pagination > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination > ul > li {
  font-style: none;
  padding: 5px 10px;
  background-color: #415A77;
  background: linear-gradient(to right, #778DA9, #778DA9);
  margin: 0 5px;
  border: 1px solid #415A77;
  border-radius: 5px;
  cursor: pointer;
  color: #E0E1DD;
  font-weight: 500;
}
.pagination > ul > li:hover {
  background-color: #E0E1DD;
  background: linear-gradient(
    to right,
    #778DA9,
    #415A77
  );

  border: 1px solid #415A77;
  color: #1B263B;
}
.pagination > ul > li:active {
  background-color: #778DA9;
  border: 1px solid #778DA9;
  color: #1B263B;
}
.buttonPagination {
  display: flex;
  align-items: center;
  padding-right: 80px;
}
.btnPagination {
  color: #1B263B;
  background-color: transparent;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50px;
  margin: 0 5px;
}
.btnPagination:hover {
  background-color: #E0E1DD;;
}

.activo {
  background-color: #1B263B;
}

.textCenter {
  margin: auto;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 100px;
}
.tittle-search {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seatch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tittle {
  font-size: 2em;
  font-weight: 600;
  color: #1B263B;
}
.btn-success{
  background-color: #1B263B;
  border-color: #1B263B;
}
.btn-success :hover{
  background-color: #778DA9;
}
@media (max-width: 850px) {
  nav div{
    display: flex;
    flex-direction: column;
    padding-top: 1px;
  }
  nav a{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1px;
  }
  h1{
    font-size: 2.1em;
  }
}